<tbody id="person_form">
<tr>
    <th>Training Information</th>
    <th>Degree Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_training:country" showhead="default"></span>
		<span type="form" name="person_training:institution" showhead="default"></span>
		<span type="form" name="person_training:location" showhead="default"></span>
		<span type="form" name="person_training:location_other" showhead="default"></span>
	</td><td>
		<span type="form" name="person_training:degree" showhead="default">
		</span>
		<span type="form" name="person_training:started_date" showhead="default">
		</span>
		<span type="form" name="person_training:completed_date" showhead="default">
		</span>
		<span type="form" name="person_training:major" showhead="default"></span>
		<span type="form" name="person_training:minor" showhead="default"></span>
    </td>
</tr>
</tbody>
