<div task='person_can_view_child_form_person_training'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
            <li task='person_can_edit_child_form_person_training'><span type="form" name="person_training:id" href="person_training?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		    <th colspan="2">Institution Information</th>
		</tr>
		<span type="form" name="person_training:country" showhead="default" class="even"></span>
		<span type="form" name="person_training:institution" showhead="default"></span>
		<span type="form" name="person_training:location" showhead="default"></span>
		<span type="form" name="person_training:country_other" showhead="default" class="even"></span>
		<!-- <span type="form" name="education:year" showhead="default"></span> -->
		<tr>
		    <th>Degree Information</th>
		</tr>
		<span type="form" name="person_training:degree" showhead="default"></span>
		<span type="form" name="person_training:started_date" showhead="default" class="even"></span>
		<span type="form" name="person_training:completed_date" showhead="default"></span>
		<span type="form" name="person_training:major" showhead="default" class="even"></span>
		<span type="form" name="person_training:minor" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
