<div id="list_display" class='recordsData' task="can_view_database_list_employment_status">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_employment_status'><span type="form" name="employment_status:id" href="lists?type=employment_status&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=employment_status">Select another Employment Status</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">employment_status</th>
		</tr>
		<span type="form" name="employment_status:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div> <!-- list_display -->
