<tbody>
<tr>
	<th colspan="3">Refrences's Detail</th>
</tr>
<tr>
	<td>
	    <span type="form" name="nepal_person_refrences:registration_number" showhead="default"></span>
		<span type="form" name="nepal_person_refrences:full_name" showhead="default"></span>
		<span type="form" name="nepal_person_refrences:location_other" showhead="default"></span>
		<span type="form" name="nepal_person_refrences:date" showhead="default"></span>
		
	</td>
	
</tr>
</tbody>
