<div task='person_can_view_child_form_nepal_person_refrences'>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_nepal_person_refrences'>
			<span type="form" ifset="nepal_person_refrences:id" name="nepal_person_refrences:id" href="nepal_person_refrences?id=" parent="true">
				Update this Information
			</span>
			</li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
			<tbody>
			<tr>
				<th colspan="2"> Refrence Information</th>
			</tr>
			<span type="form" name="nepal_person_refrences:registration_number" showhead="default" class="even"></span>
			<span type="form" name="nepal_person_refrences:full_name" showhead="default"></span>
			<span type="form" name="nepal_person_refrences:location_other" showhead="default"></span>
			<span type="form" name="nepal_person_refrences:date" showhead="default" class="even"></span>
			</tbody>
		</table>
	</div> <!-- dataTable -->
</div>
