<div task='person_can_view_child_form_nepal_person_source'>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_nepal_person_source'>
			<span type="form" ifset="nepal_person_source:id" name="nepal_person_source:id" href="nepal_person_source?id=" parent="true">
				Update this Information
			</span>
			</li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
			<tbody>
			<tr>
				<th colspan="2"> Source ID Information</th>
			</tr>
			<span type="form" name="nepal_person_source:source_id" showhead="default" class="even"></span>
			</tbody>
		</table>
	</div> <!-- dataTable -->
</div>
