<div id="list_display" class='recordsData' task="can_view_database_list_institution">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_institution'><span type="form" name="institution:id" href="lists?type=institution&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=institution">Select another Institution</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Institution</th>
		</tr>
		<span type="form" name="institution:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div> <!-- list_display -->
