<div id="list_display" class='recordsData' task="can_view_database_list_data_submit_frequency">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_data_submit_frequency'><span type="form" name="data_submit_frequency:id" href="lists?type=data_submit_frequency&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=data_submit_frequency">Select another Data Submit Frequency</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">data_submit_frequency</th>
		</tr>
		<span type="form" name="data_submit_frequency:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div> <!-- list_display -->
