<tbody>
<tr>
	<th colspan="3">Father's Detail</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_parent_info:father_firstname" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:father_middlename" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:father_surname" showhead="default"></span>
	</td>
</tr>
<tr>
	<th colspan="3">Mother's Detail</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_parent_info:mother_firstname" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:mother_middlename" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:mother_surname" showhead="default"></span>
	</td>
</tr>
<tr>
	 <th colspan="3">Spouse's Detail</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_parent_info:spouse_firstname" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:spouse_middlename" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:spouse_surname" showhead="default"></span>
	</td>
</tr>

<tr>
	 <th colspan="3">Grand Father's Detail</th>
</tr>
<tr>
	<td>
		<span type="form" name="person_parent_info:grand_father_firstname" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:grand_father_middlename" showhead="default"></span>
	</td>
	<td>
		<span type="form" name="person_parent_info:grand_father_surname" showhead="default"></span>
	</td>
</tr>
<tr>
	 <th colspan="3">Child's Detail</th>
</tr>
<tr>
    <td><span type="form" name="person_parent_info:child1_full_name" showhead="default"></span></td>
    <td><span type="form" name="person_parent_info:gender" showhead="default" class='even'></span></td>
</tr>

<tr>
    <td><span type="form" name="person_parent_info:child2_full_name" showhead="default"></span></td>
    <td><span type="form" name="person_parent_info:gender1" showhead="default" class='even'></span></td>
    
</tr>

</tbody>
