<div task='person_can_view_child_form_person_parent_info'>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_person_parent_info'>
			<span type="form" ifset="person_parent_info:id" name="person_parent_info:id" href="person_parent_info?id=" parent="true">
				Update this Information
			</span>
			</li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
			<tbody>
			<tr>
				<th colspan="2">Parent / Guardian Information</th>
			</tr>
			<span type="form" name="person_parent_info:father_firstname" showhead="default" class="even"></span>
			<span type="form" name="person_parent_info:father_middlename" showhead="default"></span>
			<span type="form" name="person_parent_info:father_surname" showhead="default" class='even'></span>
			<span type="form" name="person_parent_info:mother_firstname" showhead="default"></span>
			<span type="form" name="person_parent_info:mother_middlename" showhead="default" class='even'></span>
			<span type="form" name="person_parent_info:mother_surname" showhead="default"></span>
			<span type="form" name="person_parent_info:spouse_firstname" showhead="default" class='even'></span>
			<span type="form" name="person_parent_info:spouse_middlename" showhead="default"></span>
			<span type="form" name="person_parent_info:spouse_surname" showhead="default" class='even'></span>
			
			
			<span type="form" name="person_parent_info:grand_father_firstname" showhead="default" class='even'></span>
			<span type="form" name="person_parent_info:grand_father_middlename" showhead="default"></span>
			<span type="form" name="person_parent_info:grand_father_surname" showhead="default" class='even'></span>
			<tr>
				<th colspan="2">Child Information</th>
			</tr>
			
			<span type="form" name="person_parent_info:child1_full_name" showhead="default"></span>
			<span type="form" name="person_parent_info:gender" showhead="default" class='even'></span>
			
			<span type="form" name="person_parent_info:child2_full_name" showhead="default"></span>
			<span type="form" name="person_parent_info:gender1" showhead="default" class='even'></span>
			
			
			</tbody>
		</table>
	</div> <!-- dataTable -->
</div>
