<div >
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_contact_personal'>
	<span   type="form" name="person_contact_personal:id" href="contact?contact_type=personal&amp;id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable" >
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Personal Contact </th>
      </tr>
      <!-- <span type="form" name="person_contact_personal:address" showhead="default" mline="true"></span> -->
      <span type="form" name="person_contact_personal:telephone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_personal:mobile_phone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_personal:alt_telephone" showhead="default"></span>
      <!-- <span type="form" name="person_contact_personal:fax" showhead="default" class="even"></span> -->
      <span type="form" name="person_contact_personal:email" showhead="default"></span>
      <!-- <span type="form" name="person_contact_personal:contact_group" showhead="default"></span>
      <span type="form" name="person_contact_personal:notes" showhead="default" mline="true" class="even"></span> -->
    </table>
  </div> <!-- dataTable -->
</div>
