<tbody id="person_form">
<tr>
    <th>Registration Information</th>
    <th>License Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="registration:council" showhead="default"></span>
		<span type="form" name="registration:registration_number" showhead="default"></span>
		<span type="form" name="registration:registration_category" showhead="default"></span>
		<span type="form" name="registration:registration_date" showhead="default"></span>
	</td><td>
		<span type="form" name="registration:license_number" showhead="default"></span>
		<span type="form" name="registration:license_expiration" showhead="default"></span>
    </td>
</tr>
</tbody>
