<div id="siteContent">
    <h1>Administer Database</h1>
    <span type='module' ifenabled='true' name='ihris-manage-PersonPosition'>
        <div task="can_edit_position_database_lists">
            <h2>Administer Positions</h2>
            <div task='can_edit_job_structure_database_lists'>
                <h3>Create Job Structure</h3>
                <ul>
                    <li task='can_edit_database_list_cadre'><a href="lists?type=cadre">Cadres</a></li>
                    <li task='can_edit_database_list_classification'><a href="lists?type=classification">Job Classifications</a></li>
                    <li task='can_edit_database_list_salary_grade'><a href="lists?type=salary_grade">Salary Grades</a></li>
                    <li task='can_edit_database_list_job'><a href="lists?type=job">Jobs</a></li>
                </ul>
            </div>
            <div task="can_edit_manage_positions_database_lists">
                <h3>Manage Positions</h3>
                <ul>
                    <li  task='can_edit_database_list_salary_source'><a href="lists?type=salary_source">Salary Sources</a></li>
                    <li  task='can_edit_database_list_position_type'><a href="lists?type=position_type">Position Types</a></li>
                    <li task='can_edit_database_list_position'><a href="lists?type=position&amp;field=facility">Positions (by Facility)</a></li>
                    <li task='can_edit_database_list_position'><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Positions (by Status)</a></li>
                    <span type="module" ifenabled="true" name="ihris-manage-confirmation">
                        <li  task='can_edit_database_list_confirmation_type'><a href="lists?type=confirmation_type">Confirmation Types</a></li>
                    </span>
                </ul>
            </div>
        </div>
    </span>
    <h2>Administer Other Lists</h2>
    <div task="can_edit_organization_database_lists">
        <h3>Organization Lists</h3>
        <ul>
            <li task='can_edit_database_list_facility_type'><a href="lists?type=facility_type">Facility Type</a></li>
            <li task='can_edit_database_list_facility'><a href="lists?type=facility&amp;field=location">Office/Facility</a></li>
            <li task='can_edit_database_list_department'><a href="lists?type=department">Department</a></li>
            <span type="module" ifenabled="true" name="ManageRegistration">
                <li task='can_edit_database_list_council'><a href="lists?type=council">Registration Councils</a></li>
            </span>
            <span type="module" ifenabled="true" name="NepalOwnershipType">
                <li task='can_edit_database_list_ownership_type'><a href="lists?type=ownership_type">Ownership Type</a></li>
            </span>
            <span type="module" ifenabled="true" name="NepalInstitution">
                <li task='can_edit_database_list_institution'><a href="lists?type=institution">Institutions</a></li>
            </span>
        </ul>
    </div>
    <div task="can_edit_employee_database_lists">
        <h3>Employee Lists</h3>
        <ul>
            <li task='can_edit_database_list_edu_type' ><a href="lists?type=edu_type">Education Type</a></li>
            <li task='can_edit_database_list_degree'><a href="lists?type=degree&amp;field=edu_type">Degree</a></li>
            <li task='can_edit_database_list_language' ><a href="lists?type=language">Language</a></li>
            <span type='module' ifenabled='true' name='simple-competency'>
                <li task='can_edit_database_list_competency_type'><a href="lists?type=competency_type">Competency Type</a></li>
                <li task='can_edit_database_list_competency'><a href="lists?type=competency&amp;field=competency_type">Competency</a></li>
                <span type='module' ifenabled='true' name='person-simple-competency'>
                    <li task='can_edit_database_list_competency_evaluation'><a href="lists?type=competency_evaluation">Competency Evaluation</a></li>
                </span>
            </span>
            <li task='can_edit_database_list_id_type'><a href="lists?type=id_type">Identification Type</a></li>
            <li task='can_edit_database_list_benefit_type'><a href="lists?type=benefit_type">Benefit Type</a></li>
            <li task='can_edit_database_list_marital_status'><a href="lists?type=marital_status">Marital Status</a></li>
            <li task='can_edit_database_list_contact_group'><a href="lists?type=contact_group">Contact Group</a></li>
            <li task='can_edit_database_list_pos_change_reason'><a href="lists?type=pos_change_reason">Reasons for Departure</a></li>
            <span type='module' ifenabled='true' name='accident'>
                <li task='can_edit_database_list_accident_type'><a href="lists?type=accident_type">Accident Type</a></li>
            </span>
            <span type='module' ifenabled='true' name='disciplinary_action'>
                <li task='can_edit_database_list_disciplinary_action_type'><a href="lists?type=disciplinary_action_type">Disciplinary Action Type</a></li>
                <li task='can_edit_database_list_disciplinary_action_reason'><a href="lists?type=disciplinary_action_reason">Disciplinary Action Reason</a></li>
            </span>
            <span type='module' ifenabled='true' name='NepalDocumentCategory'>
                <li task='can_edit_database_list_document_category'><a href="lists?type=document_category">Document Category</a></li>
            </span>
            <span type='module' ifenabled='true' name='NepalEmploymentStatus'>
                <li task='can_edit_database_list_employment_status'><a href="lists?type=employment_status">Employment Status</a></li>
            </span>
        </ul>
    </div>
    <div task="can_edit_geographic_database_lists">
        <h3>Geographic Information</h3>
        <ul>
            <li task="can_edit_database_list_country"><a href="lists?type=country">Country</a></li>
            <li task="can_edit_database_list_region"><a href="lists?type=region&amp;field=country">Region</a></li>
            <li task="can_edit_database_list_district"><a href="lists?type=district&amp;field=region">District</a></li>
            <li task="can_edit_database_list_county"><a href="lists?type=county&amp;field=district">County</a></li>
            <li task="can_edit_database_list_currency"><a href="lists?type=currency">Currency</a></li>
        </ul>
    </div>
    <div task="can_edit_planning_database_lists">
        <span  name='establishment' type='module' ifenabled='true'>
            <h3>Planning Information</h3>
            <ul>
                <li task="can_edit_database_list_establishment_type"><a href="lists?type=establishment_type">Establishment Type</a></li>
                <li task="can_edit_database_list_establishment_period"><a href="lists?type=establishment_period&amp;field=establishment_type">Establishment Period</a></li>
                <li task="can_edit_database_list_establishment"><a href="lists?type=establishment&amp;field=establishment_period">Establishments</a></li>
            </ul>
        </span>
    </div>
    <div task="can_edit_data_provider_database_lists">
        <h3>Data Provider</h3>
        <ul>
            <li task="can_edit_database_list_data_submit_frequency"><a href="lists?type=data_submit_frequency">Data Submit Frequency</a></li>
            <li task="can_edit_database_list_data_provider_type"><a href="lists?type=data_provider_type">Data Provider Type</a></li>
        </ul>
    </div>
    <span name='training-course' type='module' ifenabled='true'>
        <div task="can_edit_training_course_database_lists">
            <h3>Training Course Information</h3>
            <ul>
                <li task='can_edit_database_list_training_course'><a href="lists?type=training_course&amp;mapped=scheduled_training_course">Training Courses</a></li>
                <li task='can_edit_database_list_scheduled_training_course'><a href="lists?type=scheduled_training_course&amp;field=training_course">Scheduled Training Courses</a></li>
                <li task='can_edit_database_list_training_course_status'><a href="lists?type=training_course_status">Status of a Training Course</a></li>
                <li task='can_edit_database_list_training_course_requestor'><a href="lists?type=training_course_requestor">Requestors of a Training Course</a></li>
                <li task='can_edit_database_list_training_course_evaluation'><a href="lists?type=training_course_evaluation">Evaluation of a Training Course</a></li>
                <li task='can_edit_database_list_training_course_category'><a href="lists?type=training_course_category">Category of a Training Course</a></li>
                <span type='module' name='manage-training-institution' ifenabled='true'>
                    <li task='can_edit_database_list_training_institution'><a href="lists?type=training_institution">Training Institution</a></li>
                    <li task='can_edit_database_list_training_funder'><a href="lists?type=training_funder">Training Funder</a></li>
                </span>
                <span type='module' name='CEUs' ifenabled='true'>
                    <li task='can_edit_database_list_continuing_education_course'><a href="lists?type=continuing_education_course">Continuing Education Course</a></li>
                </span>
            </ul>
        </div>
    </span>
    <span role="admin">
        <h2>Mass Delete</h2>
        <ul>
            <span type="module" name="ihris-manage-MassDeleteFacility" ifenabled="true">
                <li><a href="delete_by_facility">By Facility</a></li>
            </span>
            <span type="module" name="ihris-common-MassDeletePerson" ifenabled="true">
                <li><a href="delete_by_search">By Person (Search Page)</a></li>
            </span>
        </ul>
    </span>
</div>