<div task='person_can_view_child_form_person_employment_summary'>
    <div class="editRecord">
        <p>Edit This Information</p>
        <ul>
            <li task='person_can_edit_child_form_person_employment_summary'><span type="form" name="person_employment_summary:id" href="person_employment_summary?id=" parent="true">Update this Information</span></li>
        </ul>
    </div> <!-- editRecord -->
        
    <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th colspan="2">Employment Summary</th>
            </tr>
            <span type="form" name="person_employment_summary:employment_status" showhead="default"></span>
            <span type="form" name="person_employment_summary:date_of_retirement" showhead="default" class="even"></span>
            <span type="form" name="person_employment_summary:any_disciplinary_action" showhead="default" class="even"></span>
        </table>
    </div> <!-- dataTable -->
</div>