<div task='person_can_view_child_form_registration'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
        <li task='person_can_edit_child_form_registration'><span type="form" name="registration:id" href="registration?id=" parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Registration/License Information</th>
      </tr>
      <span type="form" name="registration:council" showhead="default"></span>
      <span type="form" name="registration:registration_number" showhead="default" class="even"></span>
      <span type="form" name="registration:registration_category" showhead="default" class="even"></span>
      <span type="form" name="registration:registration_date" showhead="default"></span>
      <span type="form" name="registration:license_number" showhead="default" class="even"></span>
      <span type="form" name="registration:license_expiration" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
