<div task="person_can_view_child_form_demographic">
    <div class="editRecord">
        <p>
            Edit This Information
        </p>
        <ul>
            <li task="person_can_edit_child_form_demographic">
                <span href="demographic?id=" ifset="demographic:id" name="demographic:id" parent="true" type="form">
                    Update this Information
                </span>
            </li>
        </ul>
    </div>
    <!-- editRecord -->
    <div class="dataTable">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th colspan="2">
                        Birth History / Demographic Information
                    </th>
                </tr>
                <span name="demographic:birth_date" showhead="default" type="form">
                </span>
                <span ifenabled="true" name="NepalDemographic" type="module">
                    <span name="demographic:birth_location" showhead="default" type="form"></span>
                    <span name="demographic:birth_location_other" showhead="default" type="form"></span>
                    <span name="demographic:nationality_at_birth" showhead="default" type="form"></span>
                </span>
                <span class="even" name="demographic:gender" showhead="default" type="form">
                </span>
                <span name="demographic:marital_status" showhead="default" type="form">
                </span>
                <span class="even" name="demographic:dependents" showhead="default" type="form">
                </span>
            </tbody>
        </table>
    </div>
    <!-- dataTable -->
</div>
