<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203" />
<h1><span printf="'Welcome, %s in NHWR Portal',ihris-common->getUserNames()" /></h1> 
<p>
<strong>Nepal Health Workforce Registry (NHWR) </strong>  is a central repository for all the health workers of Nepal who are working in both public as well as Private sector.  
NHWR is owned by <a href="http://www.mohp.gov.np/" target="_new">Ministry of Health Website</a>. Developed and implemented with the support of <a href="http://who.int/en/" target="_new">World Health Organization</a>. <br/>
Customized by : <a href="shangrilagroup.com.np">Shangrila Microsystem</a><br/>
</p>
</div><!-- /welcomeIntro -->