<tbody id="person_form">
	<tr>
	    <th>Employement Summary</th>
	    <th>Employment Detail</th>
	</tr>
	<tr>
		<td>
			<span type="form" name="person_employment_summary:employment_status" showhead="default"></span>
			<span type="form" name="person_employment_summary:date_of_retirement" showhead="default"></span>
			<span type="form" name="person_employment_summary:any_disciplinary_action" showhead="default"></span>
		</td>
		<td>
			<!-- <span type="form" name="person_employment_summary:position_type" showhead="default"></span> -->
			<span type="form" name="person_employment_summary:classification" showhead="default"></span>
			<span type="form" name="person_employment_summary:job" showhead="default"></span>
			<!-- <span type="form" name="person_employment_summary:employment_title" showhead="default"></span> -->
			<!-- <span type="form" name="person_employment_summary:facility" showhead="default"></span> -->
			<!-- <span type="form" name="person_employment_summary:facility_name_other" showhead="default"></span> -->
			<!-- <span type="form" name="person_employment_summary:facility_type" showhead="default"></span> -->
			<!-- <span type="form" name="person_employment_summary:ownership_type" showhead="default"></span> -->
			<!-- <span type="form" name="person_employment_summary:salary" showhead="default"></span> -->
	    </td>
	</tr>
</tbody>
