<tbody>
	<tr>
		<th colspan="2">Contact Information</th>
	</tr>
	<tr>
		<td>
			<!-- <span type="form" name="facility_contact:postal_code" showhead="default"></span> -->
			<!-- <span type="form" name="facility_contact:address" showhead="default"></span> -->
			
			<span type="form" name="facility_contact:email" showhead="default"></span>
			</td><td>
			<!-- <span type="form" name="facility_contact:fax" showhead="default"></span> -->
			<!-- <span type="form" name="facility_contact:email" showhead="default"></span> -->
			<!-- <span type="form" name="facility_contact:notes" showhead="contact_person"></span> -->
			<span type="form" name="facility_contact:telephone" showhead="default"></span>
			<span type="form" name="facility_contact:alt_telephone" showhead="default"></span>
		</td>
	</tr>
</tbody>
