<div id="list_display" class='recordsData' task="can_view_database_list_ownership_type">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_ownership_type'><span type="form" name="ownership_type:id" href="lists?type=ownership_type&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=ownership_type">Select another Ownership Type</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">ownership_type</th>
		</tr>
		<span type="form" name="ownership_type:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div> <!-- list_display -->
